@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');


* {
    box-sizing: border-box;
}

html,
body {
    font-family: Montserrat, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 16px;
    color: #388087;
}

.flex-column {
    display: flex;
    flex-direction: column;   
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.bg-white {
    background: #F8F9FA;
}

.container {
    border-radius: 8px;
    margin: 10px;

    padding: 10px;
    flex-basis: 75%;
    height: fit-content;
}

.container2 {
    border-radius: 8px;
    margin: 10px;

    padding: 10px;
    flex-basis: 25%;
    height: auto;
}
.container2 h2 {
    align-self: center;
    margin-top: 50%;
    margin-bottom: 50%;
    text-align: center;
}

.container3 {
    border-radius: 8px;
    margin: 10px;

    padding: 10px;
    flex-basis: 50%;
    height: fit-content;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 4px;
    font-size: 18;
    font-weight: lighter;
}

.shadow {
    box-shadow: 0 1px 2px rgba(154, 160, 185, .05), 0 5px 10px rgba(10, 20, 63, 0.2);
}

input[type=text],
input[type=number] {
    font-family: 'Quicksand', sans-serif;
    background: #F5F1FF;
    border: 2px solid #badfe7;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 8px;
    font-size: 24px;
    color: #388087;
}

input[type="checkbox" i] {
    margin-right: 10px;
    cursor: pointer;
}
.checkbox {
    margin: 20px 0px 20px 0px;
    display: flex;
    flex-direction: row;
}

.btn-submit {
    width: fit-content;
    font-family: Raleway;
    border-radius: 8px;
    padding: 12px 24px;
    border:2px solid #badfe7;
    color: black;
    font-size: 24px;
    align-self: flex-end;
    cursor: pointer;
}

.txt-center {
    text-align: center;
}

.booklist {
    border-radius: 8px;
    margin: 10px;
    flex-basis: 50%;
    height: fit-content;
}

.booklist > * {
    padding: 10px;
    
}

.item {
    border-radius: 16px;
    margin-top: 16px;
    padding: 12px 24px 12px 24px;
    background: white;
    display: flex;
    align-items: center;
}

.item > .inner h4 {
    margin-top: 10px;
    margin-bottom: unset;
}

.item > .inner p {
    margin-top: 5px;
    margin-bottom: unset;
}

.item > .inner small {
    margin-top: 5px;
}

.check-button {
    background: url('../assets/check.svg');
    background-size: contain;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    border: none;
    margin: 5px;
}
.check-button:hover {
    background: url('../assets/checkHover.svg');
    background-size: contain;
}

.trash-button {
    background: url('../assets/trash.svg');
    background-size: contain;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    border: none;
    margin: 5px;
}
.trash-button:hover {
    background: url('../assets/trashHover.svg');
    background-size: contain;
}

.undo-button {
    background: url('../assets/undo.svg');
    background-size: contain;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    border: none;
    margin: 5px;
}
.undo-button:hover {
    background: url('../assets/undoHover.svg');
    background-size: contain;
}

.btn-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.search-box {
    width: 100%;
    
    background-image: url('../assets/search.svg')!important;
    background-position: 10px center!important;
    background-repeat: no-repeat!important;
    padding: 10px 10px 10px 45px!important;
    
}

footer {
    width: 100%;
    padding: 20px;
    background-color: #388087;
    color: #badfe7;
    text-align: center;
}

@media only screen and (max-width: 550px) {
    .flex-row {
        display: flex;
        flex-direction: column;
    }

    .container2 h2 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}